* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  /* background: radial-gradient(rgb(8, 112, 230),rgb(97, 181, 44),rgb(17, 230, 222)); */
  color: #333;
}
.main
{
  width: 100%;
  height:700px;
}

.hero {
 background-color:rgb(223, 13, 199); 
  border-radius: 20px;
  margin: 50px auto;
  max-width: 1200px;
  overflow: hidden;

}

.content {
  padding: 40px;
}

/* Header/Nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 40px;
  /* background-color: red; */
}

#nav
{

  width: 200px;
  height: 500px;
  border: solid;
 
}
header nav a {
  margin-left: 30px;
  /* text-decoration: none; */
  font-weight: 500;
  color: black;  
 
}

/* Body Layout */
.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Left */
.left {
  width: 50%;
}

.role {
  color: #fbbf24;
  font-weight: bold;
  margin-bottom: 10px;
}

.left h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.left h1 span {
  color: #111;
}

.description {
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
  color: black;
}

/* Buttons */
.buttons .btn {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn.yellow {
  background-color: #fbbf24;
  color: #111;
  border: none;
}

.btn.outline {
  border: 2px solid #111;
  color: #111;
  background: transparent;
}

/* Right */
.right {
  width: 50%;
  position: relative;
}

.right img {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
 .profile
 {
    width: 250px;
    height: 250px;
    border: none;
    /* border-radius: 50%;  */
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: red;
    border: none;
 }
  .profile >img{
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    cursor: pointer;

  }

  /* navbar */
.secondbox
{
  width: 100%;
  height: 300px;
  border: solid;
}
